* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin-top: 0.5rem;
}

li {
  background: #ccc;
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: space-between;
}

.plus {
  border-right: 5px solid green;
}

.minus {
  border-right: 5px solid red;
}
